@define-color primary #00d69e;


* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.foot {
    background-color: rgba(36, 36, 36, 0.6);
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #676E7D;
    border-bottom: 2px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    /* background-color: #64727D; */
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode

/*.modules-right .module*/
    {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}


/* Mode buttons */
#idle_inhibitor,
#inhibitor,
#custom-docker,
#custom-theme-toggle {
    padding: 0 5px;
}

#custom-ticker {
    padding: 10px;
}


#mode {
    border-bottom: 3px solid @primary;
    color: @primary;
    animation: blink-border 1s linear infinite;
}

#group-power .module {
    padding: 0 20px;
    margin: 0 0px;
    color: #ffffff;
}

#group-power .module:hover,
#pulseaudio.muted,
#network.disconnected {
    background: rgba(0, 0, 0, 0.2);
    color: #00d69e;
    box-shadow: inherit;
    border-bottom: 3px solid #00d69e;
}

#battery.charging {
    color: #ffffff;
    /* background-color: #26A65B; */
    border-bottom: 3px solid #26A65B;
}

.active {
    color: @primary;
}

.inactive {
    color: white;
}

.warning {
    color: #ffffff;
    border-bottom: 3px solid orange;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging),
.danger {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 1em;
}

.critical {
    border-bottom: 3px solid red;
}

/*.danger {
    border-bottom: 3px solid red;
    animation: blink-border 0.5s linear infinite;
}
*/

label:focus {
    background-color: #000000;
}

tooltip {
    border-radius: 1em;
}

#temperature.critical {
    background-color: #eb4d4b;
}

@keyframes blink-border {
    50% {
        border: none;

        /*border: 2px dotted rgba(0, 214, 158, 0);*/
    }
}

/* transform not supported (yet?) */
/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

#idle_inhibitor.activated,
#inhibitor.activated {
    color: #00d69e;
    /* color: #2d3436;*/
    /* border-bottom: 3px solid #00d69e;
    animation: spin 3s ease infinite;*/

    /*border-top: 3px solid #00d69e;*/
    animation: blink-border 2s ease infinite;
    border: 2px dotted #00d69e;
    border-radius: 50%;

    /*border: 2px solid #00d69e;*/
}