/* Color palette */
@define-color primary #00d69e;
@define-color black #000000;

/* Fonts */
@define-color font-color #ffffff;
@define-color font-inactive #676E7D;

/* Importance levels */
@define-color good #26A65B;
@define-color warning orange;
@define-color danger #f53c3c;
@define-color urgent #eb4d4b;

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @font-color;
    transition-property: background-color;
    transition-duration: .5s;
}

/* window#waybar.hidden {
    opacity: 0.2;
} */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0.8) 0%, rgba(18, 18, 18, 0.6) 90%, rgba(34, 34, 34, 0) 100%);
}
*/

/* window#waybar.chromium {
    background-color: @black;
    border: none;
} */

/* #temperature.critical {
    background-color: @urgent;
} */

/* Does not seem to have any effect */
/* label:focus {
    background-color: @black;
} */

tooltip {
    border-radius: 1em;
}

#mode {
    border-bottom: 3px solid @primary;
    color: @primary;
    animation: blink-border 1s linear infinite;
}

window#waybar.foot {
    background-color: rgba(36, 36, 36, 0.6);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @font-inactive;
    border-bottom: 2px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit; */
    background: transparent;
    border-bottom: 3px solid @font-color;
}

#workspaces button.focused {
    /* background-color: #64727D; */
    border-bottom: 3px solid @font-color;
    color: @font-color;
}

#workspaces button.urgent {
    background-color: @urgent;
}


.modules-right .module
    {
    padding: 0 10px;
    margin: 0 4px;
}


/* Mode buttons */
#idle_inhibitor,
#inhibitor,
#custom-docker,
#custom-theme-toggle {
    padding: 0 5px;
    margin: 0 0px;
}

#custom-theme-toggle {
    font-weight: bold;
}

#group-power .module {
    padding: 0 20px;
    margin: 0 0px;
    color: @font-color;
}

#group-power .module:hover,
#pulseaudio.muted,
#network.disconnected {
    /* background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit; */
    color: @primary;
    border-bottom: 3px solid @primary;
}

#battery.charging {
    color: @font-color;
    /* background-color: #26A65B; */
    border-bottom: 3px solid @good;
}

.active {
    color: @primary;
}

.inactive {
    color: @font-color;
}

.warning {
    color: @font-color;
    border-bottom: 3px solid @warning;
}

.critical {
    border-bottom: 3px solid @urgent;
}

@keyframes blink {
    to {
        background-color: @font-color;
        color: @black;
    }
}

#battery.critical:not(.charging),
.danger {
    background-color: @danger;
    color: @font-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 1em;
}

/*.danger {
    border-bottom: 3px solid @danger;
    animation: blink-border 0.5s linear infinite;
}
*/

@keyframes blink-border {
    50% {
        border: none;

        /*border: 2px dotted rgba(0, 214, 158, 0);*/
    }
}

/* transform not supported (yet?) */
/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

#idle_inhibitor.activated,
#inhibitor.activated {
    color: @primary;
    /* color: #2d3436;*/
    /* border-bottom: 3px solid #00d69e;
    animation: spin 3s ease infinite;*/

    /*border-top: 3px solid #00d69e;*/
    animation: blink-border 2s ease infinite;
    border: 2px dotted @primary;
    border-radius: 50%;

    /*border: 2px solid #00d69e;*/
}